
/*-- scss:defaults --*/

$body-bg: #ffffff;
$link-color: #d94827;

$presentation-font-smaller: 0.85;
$presentation-heading-font-weight: 400;
$presentation-h1-font-size:	2em;

$mainColor: #383D3D;
$headingColor: #383D3D;


$font-family-sans-serif: "Book Antiqua", Palatino,
  FreeSerif, serif !default;
// headings
$presentation-heading-font: "Book Antiqua", Palatino,
  FreeSerif, serif !default;

/*-- scss:rules --*/

.slide-background.level1::before, .slide-background.quarto-title-block::before  {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100px;
    z-index: -1; /* Place it behind the actual content */
    clip-path: polygon(10% 70%, 70% 5%, 95% 40%, 80% 80%, 30% 95%, 10% 70%);
    background: #fedc00;
  }

 .slide-background::after {
  content: "";
  position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    background: #fedc00;
    @media (max-width: 900px) {
      width: 0px;
  }
}

.reveal .slides div.smaller {
    font-size: 0.7em;
}

#title-slide {
    .subtitle {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
}


.reveal .slide-logo {
  max-height: 80px !important;
  right: 7px !important;
}

.reveal h1 {
  text-align: center;
}

.katex { font-size: 1.0em !important; }
